<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medi-Co</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/album.css' %}" rel="stylesheet">
  <style>
  </style>
</head>

<body class="bg-light">
<div id="contents">
{% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">medi_co@gmail.com</a>
        <i class="icofont-phone"></i> +91 9876543210
<!--        <i class="icofont-google-map"></i> A108 Adam Street, NY-->
      </div>
      <div>
        <h6 class="logo mr-auto"><a href="{% url 'home' %}">Medi-Co</a></h6>
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>

    <header id="header" class="fixed-top" style="padding: 5px 0;">
    <div class="container d-flex align-items-center">

      <h4 class="logo mr-auto"><a href="{% url 'home' %}">Medi-Co</a></h4>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#departments">Departments</a></li>
          <li><a href="#doctors">Doctors</a></li>
          <li><a href="{% url 'lab_tests' %}">Labs</a></li>
          <li><a href="#contact">Contact</a></li>
          {% if request.user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
          <li class="nav-item">
            <a href="{% url 'order-summary' %}" class="nav-link waves-effect">
              <span class="badge badge-primary z-depth-5 mr-1"> {{ request.user }} </span>
              <i class="glyphicon glyphicon-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
            {% else %}
              <li><a href="{% url 'account_login' %}">Login</a></li>
              <li><a href="{% url 'account_signup' %}">Sign-Up</a></li>
            {% endif %}
        </ul>
      </nav><!-- .nav-menu -->
      {% if request.user.is_authenticated %}
        <a href="{% url 'appointment' %}" class="appointment-btn">Make an Appointment</a>
      {% endif %}
    </div>
  </header><!-- End Header -->
  <br>
  {% block 'body'%}
  {% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Medi-Co</h3>
            <p>
              A108 Kondapur <br>
              Hyderabad, 500084<br>
              Telangana <br><br>
              <strong>Phone:</strong> +91 9876543210<br>
              <strong>Email:</strong> medi_co@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Paediatrics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">General Physician</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dermatology</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Lab Tests</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cardiology</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Medi-Co</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script type="text/javascript">
$('#php_email_form').submit(function(e){
e.preventDefault();
var frm = $('#php_email_form');
     $.ajax({
        type: frm.attr('method'),
         url: frm.attr('action'),
         data: frm.serialize(),
         dataType: 'json',
        success:function(data){
          $(".mb-4").html('<div style="color: #fff;background: #18d26e;text-align: center;padding: 10px;font-weight: 600;"> <p> Appointment successfully booked for ' + data.name +' on '+ data.date+ '.</p></div>')
          document.getElementById("php_email_form").reset();
          $("#doc-payment").show();
          $("#appointment-button").hide();
        },
        error : function(xhr,errmsg,err) {
        alert(errmsg);
        console.log(xhr.status + ": " + xhr.responseText);
    }
    });
});

$("#id_department").change(function () {
      var url = $("#php_email_form").attr("department-url");
      var dept_id = $(this).val();
      $(".loading").show();
      $("#appointment-button").prop('disabled', true);
      $.ajax({
        url: url,
        data: {
          'Departments': dept_id
        },
        success: function (data) {
          $("#id_doctor").html(data);
          $(".loading").hide();

          $("#appointment-button").prop('disabled', false);
        }
      });

    });

    function hideOnKeyPress() {
            document.getElementById('error_msg').style.display = 'none';
        }



</script>

</div>
</body>

</html>